.usersPage_form{
    position: fixed;
    width: 100%;
    padding: 1.5rem 0 1rem;
    top: 0rem;
    z-index: 11;
    background-color: #fff;
}
.usersPage__table{
    height: 84vh;
    overflow-y: scroll;
    position: fixed;
    background: #f3f0f0;
    width: 21%;
    margin-top: 5rem;
    z-index: 9;
}
.usersPage__table--contents{
    margin-top: 5rem;    
    background: #f3f0f0;
    height:max-content;
    min-height: 87.5vh;
}

.usersPage__container {
    background: #f3f0f0;
}

.usersPage_form {
    background: #f3f0f0;
    color: #fff;
}