.usersPage_form{
    position: fixed;
    width: 100%;
    padding: 3rem 0;
    top: 0rem;
    z-index: 11;
    background-color: #fff;
}
.usersPage__table{
    height: 80vh;
    overflow-y: scroll;
    position: fixed;
    width: 21%;
    margin-top: 7rem;
    z-index: 9;
}
.usersPage__table--contents{
    margin-top: 8rem;    
    margin-left: 4rem;
}

